.nav {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 10px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0078d4;
}

.nav__title {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  right: -20px;
}

.nav__icons {
  width: 35%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  right: -400px;
}

.nav__icons__meet {
  width: 120px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.nav__user {
  border: 1px solid white;
  border-radius: 100px;
  padding: 5px;
  color: white;
}

.nav__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.nav__icon__grid {
  width: 30px;
  height: 20px;
  position: relative;
  left: 5px;
}

.nav__searchbar {
  background-color: #333;
  width: 356px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  right: -150px;
}

.nav__searchbar__icon {
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.nav__searchbar input {
  width: 340px;
  height: 32px;
  background-color: transparent;
  border: 0;
  color: white;
  border: none;
  outline: none;
  cursor: default;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  padding-left: 10px;
}

.nav__searchbar input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.nav__searchbar input:-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.nav__searchbar input::-ms-input-placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.nav__searchbar input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.icons {
  width: 50px;
  height: calc(100vh - 48px);
  background-color: black;
  padding: 0 15px;
}

.icons__wrap {
  width: 100%;
  height: calc(100% - 200px);
  border-bottom: 1.5px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.icons__icon {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.icons__active {
  color: #69afe5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 2px solid #69afe5;
  cursor: pointer;
}

.icons__word {
  color: #69afe5;
}

.icons__excel {
  color: green;
}

.icons__power {
  color: orangered;
}

.navigation {
  width: calc(100% - 50px);
  height: 48px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #212121;
  border-bottom: #000000;
  position: absolute;
  top: 48px;
  left: 50px;
}

.navigation__actions {
  background-color: inherit;
  width: 40%;
  height: 48px;
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__actions__menu {
  color: #b3d6fc;
  width: 60px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__actions__menu__icon {
  width: 40px;
  height: 32px;
}

.navigation__actions__action {
  color: #69afe5;
  width: 150px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__actions__action button {
  cursor: pointer;
  width: 150px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation__actions__action__message {
  background-color: #69afe5;
  border-radius: 4px;
  -webkit-transition: background-color .156s ease;
  transition: background-color .156s ease;
  margin: 6px 3px 6px 0;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 4px;
}

.navigation__actions__action__mark {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.navigation__actions__action__mark__icon {
  color: #69afe5;
}

.navigation__actions__action__undo {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.navigation__actions__action__undo__icon {
  color: white;
  width: 30px;
  height: 25px;
}

.folder {
  width: 200px;
  height: calc(100vh - 96px);
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  top: 96px;
  left: 50px;
  overflow-y: scroll;
  border-right: 1px solid black;
}

.folder__favourites {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.folder__favourites__text {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 15px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
}

.folder__favourites__text__icon {
  margin-right: 15px;
}

.folder__favourites__nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.folder__favourites__nav__text {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 35px;
  color: white;
  text-align: left;
  font-weight: 400;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

.folder__favourites__nav__active {
  width: 100%;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 35px;
  color: white;
  text-align: left;
  font-weight: 400;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  background-color: #106ebe;
}

.folder__favourites__nav a {
  text-align: center;
  text-decoration: none;
  color: #69afe5;
}

.folder__favourites__fav {
  display: none;
}

.folder__favourites__fav a {
  text-align: center;
  text-decoration: none;
  color: #69afe5;
}

.folder::-webkit-scrollbar {
  width: 0.45em;
}

.folder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.folder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 4px;
}

.mail {
  width: 351px;
  height: calc(100vh - 96px);
  background-color: #212121;
  border-right: 1px solid #000;
  position: absolute;
  top: 96px;
  left: 250px;
}

.mail__nav {
  width: 100%;
  height: 48px;
  padding: 9px 24px 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  border-bottom: 1px solid #000;
}

.mail__nav__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
  cursor: pointer;
}

.mail__nav__focus {
  width: 60px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.mail__nav__active {
  width: 60px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  border-bottom: 3px solid #69afe5;
  cursor: pointer;
}

.mail__nav__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 30px;
  cursor: pointer;
  color: #0078d4;
}

.mail__user {
  width: 100%;
  height: 88px;
  padding: 9px 24px 6px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  border-bottom: 1px solid #000;
}

.mail__user__icon {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("../../images/messageIcon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 15px;
}

.mail__user__icon:hover {
  width: 20px;
  height: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-image: none;
  background-color: inherit;
  border-radius: 100px;
  border: 2px solid white;
}

.mail__user__mess {
  height: 60px;
  width: 72%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mail__user__mess p {
  color: white;
  font-size: 11px;
  text-align: left;
}

.mail__user__time {
  width: auto;
  height: auto;
  color: white;
  font-size: 12px;
}
/*# sourceMappingURL=Navbar.module.css.map */