.nav {
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #0078d4;

    &__title {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        position: relative;
        left: -80px;
    }

    &__icons {
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__meet {
            width: 120px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
    }
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        color: white;
    }

    &__searchbar {
        background-color: black;
        width: 400px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__icon {
            color: white;
            width: 30px;
            height: 20px;
        }

        input {
            width: 350px;
            height: 32px;
            background-color: inherit;
            color: white;
            border: none;
            outline: none;
        }
    }
}

.icons {
    width: 50px;
    height: calc(100vh - 48px);
    background-color: black;
    padding: 0 15px;

    &__wrap {
        width: 100%;
        height: calc(100% - 200px);
        border-bottom: 1.5px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__icon {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &__active {
        color: #69afe5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid #69afe5;
        cursor: pointer;
    }

    &__word {
        color: #69afe5;
    }

    &__excel {
        color: green;
    }
    &__power {
        color: orangered;
    }
}

.navigation {
    width: calc(100% - 50px);
    height: 48px;
    margin: 0;
    //padding: 10px 0;
    display: flex;
    flex-direction: row;
    background-color: black;
    position: absolute;
    top: 48px;
    left: 50px;

    &__actions {
        background-color: inherit;
        width: 40%;
        height: 48px;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__menu {
            color: #69afe5;
            width: 60px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;

            &__icon {
                width: 30px;
                height: 30px;
            }
        }

        &__action {
            color: #69afe5;
            width: 150px;
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                cursor: pointer;
                width: 150px;
                height: 38px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
            }

            &__message {
                background-color: #69afe5;
                border-radius: 4px;
                margin: 6px 3px 6px 0;
                color: #333;
                font-weight: 400;
                font-size: 18px;
            }

            &__mark {
                color: white;
                font-weight: 400;
                font-size: 18px;
                //margin: 6px 0 6px 10px;

                &__icon {
                    color: #69afe5;
                }
            }

            &__undo {
                color: white;
                font-weight: 400;
                font-size: 18px;
                //margin: 6px 0 6px 10px;

                &__icon {
                    color: white;
                    width: 30px;
                    height: 25px;
                }
            }
        }
    }
}

.folder {
    width: 200px;
    height: calc(100vh - 96px);
    background-color: rgba(0, 0, 0, 0.903);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 96px;
    left: 50px;

    &__favourites {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        cursor: pointer;

        &__text {
            width: 100%;
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            padding-left: 15px;
            color: white;

            &__icon {
                margin-right: 15px;
            }
        }

        &__nav {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__text {
                width: 100%;
                height: 38px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding-left: 35px;
                color: white;
                text-align: left;
            }
        }

        &__fav {
            display: none;
        }
    }
}