.nav {
    width: 100%;
    height: 48px;
    margin: 0;
    padding: 10px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #0078d4;

    &__title {
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        position: relative;
        left: -80px;
    }

    &__icons {
        width: 35%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &__meet {
            width: 120px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            color: white;
        }
    }
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        color: white;
    }

    &__searchbar {
        background-color: black;
        width: 400px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__icon {
            color: white;
            width: 30px;
            height: 20px;
        }

        input {
            width: 350px;
            height: 32px;
            background-color: inherit;
            color: white;
            border: none;
            outline: none;
        }
    }
}

.icons {
    width: 50px;
    height: calc(100vh - 48px);
    background-color: black;
    padding: 0 15px;

    &__wrap {
        width: 100%;
        height: calc(100% - 200px);
        border-bottom: 1.5px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &__icon {
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__active {
        color: #0078d4;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 2px solid #0078d4;
    }

    &__word {
        color: #0078d4;
    }

    &__excel {
        color: green;
    }
    &__power {
        color: orangered;
    }
}