.wrapper {
  width: 100%;
  height: auto;
  padding: 0 10px;
  background-color: #dcebfa;
}

.wrapper__top {
  width: 100%;
  height: 400px;
  background-image: url("../../images/security-small.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: black;
}

.wrapper__bottom {
  background: black;
  width: 100%;
  height: auto;
}

.wrapper__bottom__con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 50px;
}

.wrapper__bottom__text {
  position: relative;
  height: 300px;
  padding: 0 10px;
}

.wrapper__bottom__text h1, .wrapper__bottom__text p {
  color: white;
  text-align: left;
}

.wrapper__bottom__text h1 {
  font-size: 3rem;
  line-height: 0.95;
  margin-bottom: 1em;
  font-weight: 500;
}

.wrapper__bottom__text p {
  font-size: 1.1875rem;
  line-height: 1.4;
  max-width: 23em;
  font-weight: 500;
}

.wrapper__bottom__icon {
  width: 35%;
  height: auto;
  padding-bottom: 50px;
  position: relative;
  top: 25px;
  border-right: 2px solid white;
}

.wrapper__bottom__icon__list {
  width: 100%;
  height: 670px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper__bottom__icon__list li {
  width: 100%;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: securityIconReveal;
          animation-name: securityIconReveal;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.wrapper__bottom__icon__list__icons {
  width: 37px;
  height: 37px;
}

.wrapper__bottom__icon__list__icon1 {
  position: relative;
  left: -25px;
  color: black;
}

.wrapper__bottom__iconText {
  width: 80%;
  height: auto;
  position: relative;
  top: 30px;
  right: 0px;
  background-color: black;
}

.wrapper__bottom__iconText__list {
  width: 100%;
  height: 660px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.wrapper__bottom__iconText__list li {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 0.9375rem;
  font-weight: 500;
}

.wrapper__bottom__iconText__list li span {
  color: #edaa24;
  margin-top: 0.25em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wrapper__bottom__iconText__list__icon {
  width: 12px;
  height: 12px;
  background-color: #edaa24;
}

@-webkit-keyframes securityIconReveal {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.02);
            transform: scaleX(0.02);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes securityIconReveal {
  0% {
    opacity: 0;
    -webkit-transform: scaleX(0.02);
            transform: scaleX(0.02);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*# sourceMappingURL=Security.module.css.map */