$fontFamily : segoe, "Segoe UI", Arial, sans-serif; 

body {
    font-family: $fontFamily;
}
.top {
    background: rgba(255,255,255,0.2);
    height: 54px;
    order: 1;
    //box-shadow: 0 10px 30px rgb(0 0 0);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        transform: translateY(-1px);

        &__logo {
            text-decoration: none;
            color: rgb(255, 255, 255);
            cursor: pointer;
        }
    }
}