$fontFamily : segoe, "Segoe UI", Arial, sans-serif; 

* {
    font-family: $fontFamily;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: #2a2112;
    background-image: url('../../images/banner.jpg');
    background-size: cover;
    background-position: 45% center;
    background-repeat: no-repeat;
    padding: 0 10px 0 10px;

    &__title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        padding: 0 20px 0 20px;

        &__name {
            color: white;
            font-size: 1.375rem;
            margin-top: -10px;
            text-align: left;
            display: inline-block;
            line-height: 1;
            font-weight: 500;
        }

        &__text {
            color: white;
            font-size: 2.5rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 50px;
            transform: translateX(-0.0625em);
            
            span {
                display: inline-block;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                //transform: translateY(50px);
            }
        }

    }

    &__bottom {
        width: 100%;
        height: 82px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        position: relative;
        top: -100px;
        padding: 0 20px 0 20px;

       &__text {
            font-size: 1rem;
            font-weight: 600;
            color: white;
            text-align: left;
            animation-name: taglineEmerge;
            animation-duration: 1400ms;
            animation-fill-mode: forwards;
            transform: translateY(50px);
            opacity: 0;
            margin: 0 0 10px 0;
        }

        &__text2 {
            display: none;
        }

        &__btn {
            height: 80px;
            border-radius: 6px;
            background-color: #0078d4;
            outline: none;
            border: none;
            cursor: pointer;
            color: white;
            line-height: 1.1;
            font-weight: 500;
            text-align: center;
            font-size: 1.25rem !important;
        }
    }
}

@keyframes taglineEmerge {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (min-width: 421px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        padding: 0 10px 0 10px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 1.375rem;
                margin-top: -30px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                color: white;
                font-size: 3rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.125em;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
    
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            position: relative;
            top: -100px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.25rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                height: 80px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    }
}

@media screen and (min-width: 499px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        padding: 0 10px 0 10px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                color: white;
                font-size: 3.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 40px;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.225em;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
    
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            position: relative;
            top: -100px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.5rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: -40px 0 20px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    }
}

@media screen and (min-width: 665px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        padding: 0 30px 0 30px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.325em;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
    
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -80px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }

            &__text2 {
                display: none;
            }
    
            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    }
}

@media screen and (min-width: 760px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        padding: 0 40px 0 40px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -95px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    } 
}

@media screen and (min-width: 809px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        padding: 0 40px 0 40px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -95px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    } 
}

@media screen and (min-width: 992px) {
    body {
        min-height: calc(100%);
        max-height: calc(100%);
    }
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: right 25%;
        background-repeat: no-repeat;
        padding: 0 70px 0 70px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -95px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    } 
}

@media screen and (min-width: 1024px) {
    body {
        min-height: calc(100%);
        max-height: calc(100%);
    }
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: right 25%;
        background-repeat: no-repeat;
        padding: 0 90px 0 90px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -95px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    } 
}

@media screen and (min-width: 1275px) {
    body {
        min-height: calc(100%);
        max-height: calc(100%);
    }
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: right 25%;
        background-repeat: no-repeat;
        padding: 0 150px 0 150px;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                margin-top: 15px;
                text-align: left;
                display: inline-block;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 4.5rem;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: 1px solid white;
                transform: translateX(-0.0625em);
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 82px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            position: relative;
            top: -95px;
            padding: 0 20px 0 20px;
    
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: white;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
            }
    
            &__text2 {
                display: none;
            }

            &__btn {
                width: 42%;
                height: 50px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.25rem !important;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (min-height: 669px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: right 25%;
        background-repeat: no-repeat;
        padding: 0 0 0 9%;
    
        &__title {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.125rem;
                text-align: left;
                display: inline-block;
                position: relative;
                top: 30px;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 6rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: none;
                transform: translateX(-0.0625em);
                position: relative;
                left: -195px;
                top: -100px;
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 168px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;
            top: -168px;
            padding: 0 20px 0 20px;
            background-color: white;

            &__para {
                display: flex;
                flex-direction: column;
                width: auto;
                height: inherit;
                align-items: center;
                //justify-content: flex-start;
            }
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
                position: relative;
                left: -150px;
                top: 30px;
            }
    
            &__text2 {
                display: block;
                max-width: 29em;
                color: #333333;
                padding-top: 3px;
                line-height: 1.5;
                text-align: left;
                position: relative;
                top: 20px;
                left: -50px;
            }

            &__btn {
                width: 30%;
                height: 90px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.75rem !important;
                //padding: 24px 41px 31px;
                position: relative;
                top: -20px;
            }
        }
    } 
}

@media screen and (min-width: 1281px) and (min-height: 669px) {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;
        top: 0;
        left: 0;
        background-color: #2a2112;
        background-image: url('../../images/banner.jpg');
        background-size: cover;
        background-position: right 25%;
        background-repeat: no-repeat;
        padding: 0 0 0 15%;
    
        &__title {
            width: 90%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-around;
            padding: 0 20px 0 20px;
    
            &__name {
                color: white;
                font-size: 2.225rem;
                text-align: left;
                //display: inline-block;
                position: relative;
                top: 5px;
                left: 20px;
                line-height: 1;
                font-weight: 500;
            }
    
            &__text {
                width: 100%;
                color: white;
                font-size: 6rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: center;
                justify-content: flex-start;
                line-height: 50px;
                letter-spacing: -0.02em;
                padding-bottom: 25px;
                margin-bottom: 16px;
                border-bottom: none;
                transform: translateX(-0.0625em);
                position: relative;
                left: -195px;
                top: -100px;
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-bottom: 0.425em;
                    margin-right: 10px;
                    letter-spacing: -0.02em;
                    animation-name: taglineEmerge;
                    animation-duration: 1400ms;
                    animation-fill-mode: forwards;
                }
            }
        }
    
        &__bottom {
            width: 100%;
            height: 168px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;
            top: -168px;
            padding: 0 20px 0 20px;
            background-color: white;

            &__para {
                display: flex;
                flex-direction: column;
                width: auto;
                height: inherit;
                align-items: center;
                //justify-content: flex-start;
            }
           &__text {
                font-size: 1.125rem;
                font-weight: 600;
                color: black;
                text-align: left;
                animation-name: taglineEmerge;
                animation-duration: 1400ms;
                animation-fill-mode: forwards;
                transform: translateY(50px);
                opacity: 0;
                margin: 0px 0 10px 0;
                position: relative;
                left: -150px;
                top: 30px;
            }
    
            &__text2 {
                display: block;
                max-width: 29em;
                color: #333333;
                padding-top: 3px;
                line-height: 1.5;
                text-align: left;
                position: relative;
                top: 20px;
                left: -50px;
            }

            &__btn {
                width: 30%;
                height: 90px;
                border-radius: 6px;
                background-color: #0078d4;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                line-height: 1.1;
                font-weight: 500;
                text-align: center;
                font-size: 1.75rem !important;
                //padding: 24px 41px 31px;
                position: relative;
                top: -20px;
                left: -95px;
            }
        }
    } 
}