.scenerio {
    width: 100%;
    height: auto;
    padding: 0 10px;
    position: relative;
    top: 300px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__events {
        width: 100%;
        height: auto;
        position: relative;

        &__media {
            width: 100%;
            height: 265px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &__singledevice {
                height: 265px;
                position: absolute;
                width: 45%;
                height: 100%;
                animation-duration: 1100ms;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
                animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                
                img {
                    width: 100%;
                    height: 265px;
                }
            }

            &__singledevice:nth-of-type(1) {
                animation-name: mobileDeviceMiniFirst;
                z-index: 1;
                left: 0;
                transform: translateX(61%);
            }
            &__singledevice:nth-of-type(2) {
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
            }
            &__singledevice:nth-of-type(3) {
                animation-name: mobileDeviceMiniThird;
                z-index: 3;
                right: 0;
                transform: translateX(-61%);
            }
        }

        &__caption {
            order: 1;
            text-align: center;
            width: 100%;
            height: 75px;
            position: relative;
            margin: 30px auto 0;
            max-width: 12em;

            &__text {
                display: block;
                font-size: 2.125rem;
                font-weight: 500;
                line-height: 1.05;
                color: #0078d4;
            }
        }
    }

    &__flights {
        width: 100%;
        height: auto;
        position: relative;
        top: 200px;
        
        &__events {
            width: 100%;
            height: 265px;
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &__caption {
            text-align: center;
            width: 100%;
            margin: 30px 0;
            //max-width: 12em;

            &__text {
                // text-align: center;
                // width: 100%;
                // margin: 30px auto 0;
                // max-width: 12em;
                display: block;
                font-size: 2.125rem;
                color: #0078d4;
                font-weight: 500;
                line-height: 1.05;
                text-align: center;
            }
        }
        
    }
}

@media screen and (min-width: 425px) {
    .scenerio {
        width: 100%;
        height: auto;
        padding: 0 10px;
        position: relative;
        top: 300px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        &__events {
            width: 100%;
            height: auto;
            position: relative;
    
            &__media {
                width: 100%;
                height: 365px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                &__singledevice {
                    height: 365px;
                    position: absolute;
                    width: 45%;
                    height: 100%;
                    animation-duration: 1100ms;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                    
                    img {
                        width: 100%;
                        height: 365px;
                    }
                }
    
                &__singledevice:nth-of-type(1) {
                    animation-name: mobileDeviceMiniFirst;
                    z-index: 1;
                    left: 0;
                    transform: translateX(61%);
                }
                &__singledevice:nth-of-type(2) {
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__singledevice:nth-of-type(3) {
                    animation-name: mobileDeviceMiniThird;
                    z-index: 3;
                    right: 0;
                    transform: translateX(-61%);
                }
            }
    
            &__caption {
                order: 0;
                text-align: center;
                width: 200%;
                height: 75px;
                position: relative;
                margin: 20px 20px 0;
                max-width: 22em;
    
                &__text {
                    //display: block;
                    font-size: 2.125rem;
                    font-weight: 500;
                    line-height: 1.05;
                    color: #0078d4;
                }
            }
        }
    
        &__flights {
            width: 100%;
            height: auto;
            position: relative;
            top: 200px;
            
            &__events {
                width: 100%;
                height: 365px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
    
            &__caption {
                text-align: center;
                width: 100%;
                margin: 30px 0;
                //max-width: 12em;
    
                &__text {
                    // text-align: center;
                    // width: 100%;
                    // margin: 30px auto 0;
                    // max-width: 12em;
                    display: block;
                    font-size: 2.125rem;
                    color: #0078d4;
                    font-weight: 500;
                    line-height: 1.05;
                    text-align: center;
                }
            }
            
        }
    }
}

@media screen and (min-width: 768px){
    .scenerio {
        width: 100%;
        height: auto;
        padding: 0 10px;
        position: relative;
        top: 300px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        &__events {
            width: 100%;
            height: auto;
            position: relative;
    
            &__media {
                width: 100%;
                height: 525px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                &__singledevice {
                    height: 525px;
                    position: absolute;
                    width: 36%;
                    height: 100%;
                    animation-duration: 1100ms;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                    
                    img {
                        width: 100%;
                        height: 525px;
                    }
                }
    
                &__singledevice:nth-of-type(1) {
                    animation-name: mobileDeviceMiniFirst;
                    z-index: 1;
                    left: 0;
                    transform: translateX(61%);
                }
                &__singledevice:nth-of-type(2) {
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__singledevice:nth-of-type(3) {
                    animation-name: mobileDeviceMiniThird;
                    z-index: 3;
                    right: 0;
                    transform: translateX(-61%);
                }
            }
    
            &__caption {
                order: 0;
                text-align: center;
                width: 200%;
                height: 75px;
                position: relative;
                left: 120px;
                margin: 20px 0;
                max-width: 28em;
    
                &__text {
                    //display: block;
                    font-size: 2.125rem;
                    font-weight: 500;
                    line-height: 1.05;
                    color: #0078d4;
                }
            }
        }
    
        &__flights {
            width: 100%;
            height: auto;
            position: relative;
            top: 200px;
            
            &__events {
                width: 100%;
                height: 525px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
    
            &__caption {
                text-align: center;
                width: 100%;
                margin: 30px auto 0;
                max-width: 22em;
    
                &__text {
                    // text-align: center;
                    // width: 100%;
                    // margin: 30px auto 0;
                    // max-width: 12em;
                    display: block;
                    font-size: 2.125rem;
                    color: #0078d4;
                    font-weight: 500;
                    line-height: 1.05;
                    text-align: center;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1024px){
    .scenerio {
        width: 100%;
        height: auto;
        padding: 0 10px;
        position: relative;
        top: 300px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        &__events {
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;
    
            &__media {
                width: 60%;
                height: 480px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
    
                &__singledevice {
                    height: 480px;
                    position: absolute;
                    width: 36%;
                    height: 100%;
                    animation-duration: 1100ms;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
                    
                    img {
                        width: 100%;
                        height: 480px;
                    }
                }
    
                &__singledevice:nth-of-type(1) {
                    animation-name: mobileDeviceMiniFirst;
                    z-index: 1;
                    left: 0;
                    transform: translateX(61%);
                }
                &__singledevice:nth-of-type(2) {
                    z-index: 2;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__singledevice:nth-of-type(3) {
                    animation-name: mobileDeviceMiniThird;
                    z-index: 3;
                    right: 0;
                    transform: translateX(-61%);
                }
            }
    
            &__caption {
                order: 1;
                text-align: center;
                width: 30%;
                height: 75px;
                position: relative;
                left: 20px;
                //margin: 20px 0;
                max-width: 28em;
    
                &__text {
                    //display: block;
                    font-size: 2.75rem;
                    font-weight: 500;
                    line-height: 1.05;
                    color: #0078d4;
                    text-align: left;
                }
            }
        }
    
        &__flights {
            width: 100%;
            height: auto;
            position: relative;
            top: 200px;
            padding: 0 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            
            &__events {
                width: 60%;
                height: 525px;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
    
            &__caption {
                text-align: center;
                width: 30%;
                //margin: 30px auto 0;
                max-width: 22em;
    
                &__text {
                    display: block;
                    font-size: 2.75rem;
                    color: #0078d4;
                    font-weight: 500;
                    line-height: 1.05;
                    text-align: left;
                }
            }
            
        }
    }
}
// @keyframes mobileDeviceMiniFirst {
//     0% {
//         transform: translateX(61%);
//     }
//     100% {
//         transform: translateX(12%);
//     }
// }

// @keyframes mobileDeviceMiniThird {
//     0% {
//         transform: translateX(-61%);
//     }
//     100% {
//         transform: translateX(-12%);
//     }
// }